*, body{
    margin: 0px;
    padding: 0px;
}

.container_centered{
    display: flex;
    justify-content: center;
}

.fatherContainer{
    display: flex;
    justify-content: center;
    margin-top:50px;
    flex-direction: column;
}
.container{
    display: flex;
    
}

.container .column{
    display: felx;
    flex-direction: column;
}

.column .row{
    background-color: blue;
    width: 25px;
    height: 25px;
    margin:2px 2px;
}

.container .column .row .active{
    background-color: red;
}

.fatherContainer .slider{
    margin-top:20px;
}

.fatherContainer .slider .slider_apply{
    margin-left:30px;
    padding:5px 10px;
    border:none;
    border-radius:5px;
    background-color:blue;
    color:white;
}