*, body{
    margin: 0px;
    padding: 0px;
}

.fatherContainer{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    
}

.container .column{
    display: felx;
    flex-direction: column;
}

.column .row{
    background-color: blue;
    width: 25px;
    height: 25px;
    margin:2px 2px;
}

.container .column .row .active{
    background-color: red;
}